<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <clear />
    <!-- Here are list of appsettings -->
    <add key="IpAddr" value="8.8.8.1" />
    <add key="DataString" value="12345678901234567890123456789012"/>
    <add key="TimeoutPeriod" value="120"/>
    <add key="DontFragment" value="true"/>
    <add key="AlertValue" value="5"/>
    <add key="WaitTime" value="1000"/> <!--Wait time in miliseconds between pings-->
    
    <!--SMTP Mailer Settings-->
    <add key="SmtpPort" value="465"/>
    <add key="SmtpHost" value="mail.thesystemisdown.io"/>
    <add key="AuthUsername" value="jack@thesystemisdown.io"/>
    <add key="AuthUserPassword" value="MegurineLuka01"/>
    <add key="FromAddress" value="alerts@thesystemisdown.io"/>
    <add key="Subject" value="Health Check Tool Alert"/>
    <add key="Body" value="&lt;h1&gt;HealthChkTool has reported it the server is not responding to pings and may be down.&lt;/h1&gt;"/>
    <add key="ToAddress" value="jack@thesystemisdown.io"/>
  </appSettings>
<!-- &quot;&lt;h1&gt;HealthChkTool has reported it the server is not responding to pings and may be down.&lt;/h1&gt;&quot; -->
</configuration>